# ========================
# Build results
# ========================
bin/
obj/

# ========================
# Visual Studio
# ========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ========================
# Rider
# ========================
.idea/
*.sln.iml

# ========================
# ASP.NET Core
# ========================
appsettings.Development.json
appsettings.Local.json

# ========================
# Publish
# ========================
publish/
wwwroot/

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
